<div class="w-full">
  <div class="p-field">
    <label for="item-image">
      <h6 class="mb-1">Image</h6>
    </label>
    <p-fileUpload (onSelect)="onFileSelected($event)" [customUpload]="true" [maxFileSize]="2000000"
                  [showCancelButton]="false"
                  [showUploadButton]="false" accept="image/*" id="item-image"
    >
    </p-fileUpload>
  </div>
  <p-button (onClick)="suggestImages()" *ngIf="!showSuggestions; else imageSuggestions"
            class="w-full flex justify-content-center align-items-center mt-4">Suggest me some images!
  </p-button>
</div>

<ng-template #imageSuggestions>
  <p-carousel [circular]="true" [numScroll]="1" [numVisible]="1" [style]="{'max-width':'400px', 'margin-top':'2em'}"
              [value]="products"
              class="flex justify-content-center" orientation="horizontal"
              verticalViewPortHeight="352px">
    <ng-template pTemplate="header">
      <h5 class="flex justify-content-center">
        Pick an image <i (click)="suggestImages()"
                         class="ml-2 flex align-items-center pi pi-refresh cursor-pointer"></i>
      </h5>
    </ng-template>
    <ng-template let-product pTemplate="item">
      <div *ngIf="!loading; else loader" class="product-item">
        <div class="product-item-content">
          <div>
            <img [alt]="product.name" [src]="product.image"
                 class="product-image"/>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</ng-template>
<ng-template #loader>
  <app-loader class="flex justify-content-center align-items-center"></app-loader>
</ng-template>
