<div class="w-full">
  <div class="p-field">
    <label for="item-image">
      <h6 class="mb-1">Image</h6>
    </label>
    <p-fileUpload (onSelect)="onFileSelected($event)" [customUpload]="true" [maxFileSize]="2000000"
                  [showCancelButton]="false"
                  [showUploadButton]="false" accept="image/*" id="item-image"
    >
    </p-fileUpload>
  </div>
  <h6>Pick an image</h6>
  <p-carousel [circular]="true"
              [numScroll]="1"
              [numVisible]="1"
              [value]="products" class="flex justify-content-center"
              orientation="horizontal" styleClass="mt-2 suggestion-carousel w-20rem" verticalViewPortHeight="300px">
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="border-1">
            <p-image [src]="product.image" alt="product.name" height="200" width="200">
            </p-image>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
