::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
  }
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

a {color: blue; text-decoration: underline;}

.rounded-corners {
  border-radius: 15px !important;
}

.border-round-top {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.border-round {
  border-radius: 15px !important;
}
