<div class="flex flex-column shadow-1 h-screen w-full">
  <div class="flex align-items-center justify-content-center h-4rem shadow-1">
    <div class="ml-auto sm:ml-0">
      RMS
    </div>
    <button (click)="closeSidebar()" class="p-button-rounded p-button-text ml-auto mr-2 inline-flex sm:hidden" icon="pi pi-times" pButton
            type="button"></button>
  </div>
  <div class="flex align-items-center justify-content-center h-10rem shadow-1">
    <div class="grid -ml-4">
      <div class="col-4">
        <p-avatar icon="pi pi-user" shape="circle" size="xlarge" styleClass="p-mr-2"></p-avatar>
      </div>
      <div class="col">
      </div>
      <div class="col-6 mt-1 ml-2 ">
        <div class="font-semibold">
          {{user.name}}
        </div>
        <div class="font-light">
          Admin
        </div>
      </div>
    </div>
  </div>
  <div class="flex h-4rem m-2"></div>
  <div (click)="closeSidebar()" class="cursor-pointer flex align-items-center h-3rem hover:bg-primary mt-2 ml-4 mr-4 pl-8 border-round"
       routerLink="/facilities">
    <i class="pi pi-home mr-2"></i> Facilities
  </div>
  <div (click)="closeSidebar()"
       class="cursor-pointer flex align-items-center h-3rem hover:bg-primary mt-2 ml-4 mr-4 pl-8 border-round">
    <i class="pi pi-calendar mr-2"></i> Activities
  </div>
  <div (click)="closeSidebar()"
       class="cursor-pointer flex align-items-center h-3rem hover:bg-primary mt-2 ml-4 mr-4 pl-8 border-round">
    <i class="pi pi-chart-bar mr-2"></i> Statistics
  </div>
  <div (click)="closeSidebar()"
       class="cursor-pointer flex align-items-center h-3rem hover:bg-primary mt-2 ml-4 mr-4 pl-8 border-round">
    <i class="pi pi-question-circle mr-2"></i>Help
  </div>
  <div (click)="closeSidebar()"
       class="cursor-pointer flex align-items-center h-3rem hover:bg-primary mt-2 ml-4 mr-4 pl-8 border-round">
    <i class="pi pi-cog mr-2"></i>Settings
  </div>
</div>
