:host ::ng-deep .sidebar.p-sidebar {
  .p-sidebar-header {
    display: none;
  }

  .p-sidebar-content {
    padding: 0;
  }
}

:host ::ng-deep .dialog.p-dialog {
  .p-dialog-content {
    padding: 0;
  }
}
