<div class="hidden sm:block">
  <div class="flex justify-content-start">
    <ng-container *ngTemplateOutlet="desktopSidebar"></ng-container>
    <div class="block absolute overflow-hidden w-full z-5">
      <div [@slideInOutNavbar]="isDesktopSidebarOpen ? 'out' : 'in'"
           class="flex align-items-center border-0 border-bottom-1 border-300 h-4rem">
        <button (click)="isDesktopSidebarOpen = !isDesktopSidebarOpen; onMenuClick.emit()" class="p-button-text ml-3"
                icon="pi pi-bars"
                pButton></button>
        <ng-container *ngTemplateOutlet="topNav"></ng-container>
      </div>
    </div>
  </div>
</div>

<div class="block sm:hidden">
  <div class="flex justify-content-start">
    <div class="block absolute overflow-hidden w-full">
      <div class="flex align-items-center border-0 border-bottom-1 border-300 h-4rem">
        <button (click)="isMobileSidebarOpen = !isMobileSidebarOpen" class="p-button-text ml-3" icon="pi pi-bars"
                pButton></button>
        <ng-container *ngTemplateOutlet="topNav"></ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="mobileSidebar"></ng-container>
</div>

<ng-template #topNav>
  <label class="ml-auto">{{header|titlecase}}</label>


  <button (click)="isMobileSearchOpen = true" class="ml-auto p-button-text inline-flex" icon="pi pi-search"
          pButton></button>
  <!--    <div class="ml-auto hidden sm:inline-flex">-->
  <!--            <span class="p-input-icon-right">-->
  <!--              <i class="pi pi-search"></i>-->
  <!--                <p-autoComplete [(ngModel)]="searchData" [suggestions]="searchResults" (completeMethod)="search($event)"-->
  <!--                                field="name"-->
  <!--                                placeholder="Search"></p-autoComplete>-->
  <!--            </span>-->
  <!--    </div>-->


  <button class="sm:ml-3 p-button-text sm:inline-flex" icon="pi pi-bell" pButton></button>
  <div *ngIf="!user; else signOut">
    <button [routerLink]="'/user'" class="p-button-text mr-3" icon="pi pi-sign-in" pButton></button>
  </div>
  <ng-template #signOut>
    <button (click)="logOut()" class="p-button-text mr-3" icon="pi pi-sign-out" pButton></button>
  </ng-template>
</ng-template>

<ng-template #mobileSidebar>
  <p-sidebar [(visible)]="isMobileSidebarOpen" [baseZIndex]="10000" class="w-20rem z-5" styleClass="sidebar">
    <app-sidebar></app-sidebar>
  </p-sidebar>
</ng-template>

<ng-template #desktopSidebar>
  <app-sidebar [@slideInOutSidebar]="isDesktopSidebarOpen? 'in' : 'out'" class="w-20rem z-5"></app-sidebar>
</ng-template>

<ng-template #mobileSearch>
  <span class="p-input-icon-right">
    <i (click)="closeMobileSearch()" class="pi pi-times"></i>
    <!--    <input class="w-full" pInputText placeholder="Search" type="text">-->

  </span>
</ng-template>

<p-dialog [(visible)]="isMobileSearchOpen" [draggable]="false" [modal]="true" [resizable]="true"
          [dismissableMask]="true" [showHeader]="false" [style]="{width: '25vw'}">
  <!--  <ng-container *ngTemplateOutlet="mobileSearch"></ng-container>-->
  <div class="mt-2 flex flex-wrap justify-content-center">
    <p-autoComplete [(ngModel)]="searchData" [suggestions]="searchResults" (completeMethod)="search($event)"
                    (onSelect)="selectedNode()" appendTo="body"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                    field="name" placeholder="Search">
      <ng-template let-node pTemplate="item">
        <div class="country-item">
          <img [src]="'http://localhost:3000/' + node?._id?._id" [width]="20" [height]="20"/>
          {{node.name}}
        </div>
      </ng-template>
    </p-autoComplete>
  </div>


</p-dialog>
