
<div class="hidden sm:block">
  <div class="flex justify-content-start">
    <ng-container *ngTemplateOutlet="desktopSidebar"></ng-container>
    <div class="block absolute overflow-hidden w-full">
      <div [@slideInOutNavbar]="isDesktopSidebarOpen ? 'out' : 'in'" class="flex align-items-center border-0 border-bottom-1 border-300 h-4rem">
        <button pButton icon="pi pi-bars" class="p-button-text ml-3" (click)="isDesktopSidebarOpen = !isDesktopSidebarOpen; onMenuClick.emit()"></button>
        <ng-container *ngTemplateOutlet="topNav"></ng-container>
      </div>
    </div>
  </div>
</div>

<div class="block sm:hidden">
  <div class="flex justify-content-start">
    <div class="block absolute overflow-hidden w-full">
      <div class="flex align-items-center border-0 border-bottom-1 border-300 h-4rem">
        <button pButton icon="pi pi-bars" class="p-button-text ml-3" (click)="isMobileSidebarOpen = !isMobileSidebarOpen"></button>
        <ng-container *ngTemplateOutlet="topNav"></ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="mobileSidebar"></ng-container>
</div>

<ng-template #topNav>
  <label class="ml-auto">Electrical Lab</label>
  <button pButton class="ml-auto p-button-text inline-flex sm:hidden" icon="pi pi-search"></button>
  <div class="ml-auto hidden sm:inline-flex">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input type="text" class="w-12rem sm:w-15rem" pInputText placeholder="Search">
        </span>
  </div>
  <button pButton class="sm:ml-3 p-button-text sm:inline-flex" icon="pi pi-bell"></button>
  <button pButton class="p-button-text mr-3" icon="pi pi-sign-in"></button>
</ng-template>

<ng-template #mobileSidebar>
  <p-sidebar styleClass="sidebar" [(visible)]="isMobileSidebarOpen" [baseZIndex]="10000">
    <app-sidebar></app-sidebar>
  </p-sidebar>
</ng-template>

<ng-template #desktopSidebar>
  <app-sidebar class="w-20rem" [@slideInOutSidebar]="isDesktopSidebarOpen? 'in' : 'out'"></app-sidebar>
</ng-template>
