<div class="mt-8">
  <form [formGroup]="signInForm" class="h-full w-screen flex justify-content-center">
    <div class="p-grid w-25rem sm:w-30rem">
      <div class="w-full align-items-center flex justify-content-center">
        RMS
      </div>
      <p class="w-full align-items-center flex justify-content-center mt-4 text-5xl">
        Sign In
      </p>
      <div class="p-input-icon-right w-full mt-4">
        <i class="pi pi-envelope"></i>
        <input class="w-full" formControlName="email" pInputText placeholder="Email-ID" type="text">
      </div>
      <div *ngIf="signInForm.controls['email'].invalid && signInForm.controls['email'].dirty">
        <small *ngIf="signInForm.controls['email'].errors?.required" class="p-error">Email-ID is required</small>
        <small *ngIf="signInForm.controls['email'].errors?.email" class="p-error">Enter a valid email-id.</small>
      </div>
      <div class="p-input-icon-right w-full mt-4">
        <i (click)="showHidePassword()"
           [class]="showPassword ? 'pi pi-eye-slash z-5 cursor-pointer' : 'pi pi-eye z-5 cursor-pointer'"></i>
        <p-password #formPassword [feedback]="false" class="w-full" formControlName="password" inputStyleClass="w-full"
                    placeholder="Password" styleClass="w-full">

        </p-password>
      </div>
      <div *ngIf="signInForm.controls['password'].invalid && signInForm.controls['password'].dirty">
        <small *ngIf="signInForm.controls['password'].errors?.required" class="p-error">Password is required.</small>
      </div>
      <div class="flex justify-content-center mt-4 p-field-checkbox">
        <p-checkbox [binary]="true" formControlName="rememberMe" inputId="binary" name="group1"></p-checkbox>
        <label class="ml-2">Remember me</label>
      </div>
      <div class="mt-4">
        <button (click)="signIn()" [disabled]="!signInForm.valid" class="w-full p-button" label="Sign In" pButton pRipple
                type="button"></button>
      </div>
      <div class="flex justify-content-center mt-4">
        <a [routerLink]="'/user/signup'" class="cursor-pointer">New User? Sign Up</a>
      </div>
    </div>
  </form>
</div>
