<p-dataView #dv [value]="facilities" filterBy="name" layout="grid">
  <ng-template pTemplate="header">
    <div class="flex flex-wrap justify-content-between">
      <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Search by Name"
                         (input)="dv.filter($any($event.target).value)">
              </span>
      <p-button label="Add" icon="pi pi-plus" class="mr-2" (onClick)="display=true"></p-button>
    </div>
  </ng-template>
  <ng-template let-facility pTemplate="gridItem">
    <app-node-grid-item class="cursor-pointer"
                                       (click)="goToNode(facility?._id?._id, facility?._id?.isItem)"
                                       (onDeleteClick)="removeFacility($event)" [obj]="facility">
    </app-node-grid-item>
  </ng-template>
</p-dataView>

<p-dialog [header]="selectedFacility.name" [(visible)]="infoDisplay">
  {{selectedFacility.description}}
</p-dialog>
<p-dialog header="Add Facility" [(visible)]="display" [position]="'top'" [modal]="true"
          styleClass="w-full" [draggable]="false" [resizable]="false">
  <div class="w-full grid">
    <div class="col-12 lg:col-6 p-4">
      <div class="flex flex-column w-full">
        <div class="p-field">
          <label for="facility-name">
            <h6 class="mb-1">Facility Name</h6>
          </label>
          <input id="facility-name" pInputText [(ngModel)]="newFacilityName">
        </div>
        <div class="p-field mt-4">
          <label for="facility-desc">
            <h6 class="mb-1">Description</h6>
          </label>
          <textarea class="w-full" pInputTextarea id="facility-desc" [(ngModel)]="newFacilityDesc"></textarea>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 p-4">
      <app-suggest-images (onFileUpload)="newFacilityImage = $event"></app-suggest-images>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="addFacility()" label="Add" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
