<div class="flex flex-column shadow-1 mt-1" style="min-height: 98vh">
  <div class="flex align-items-center h-10rem shadow-1">
    <div class="grid ml-2">
      <div class="col-4">
        <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>
      <div class="col">
      </div>
      <div class="col-6 mt-1 ml-2">
        <div class="font-semibold">
          Mario
        </div>
        <div class="font-light">
          Admin
        </div>
      </div>
    </div>
  </div>
  <div class="flex h-4rem m-2"></div>
  <div class="flex align-items-center h-3rem hover:bg-green-300 m-2 ml-5 pl-2 border-round">
    <img src="assets/images/svg/store_black_24dp.svg" alt="settings"> &nbsp;
    Facility</div>
  <div class="flex align-items-center h-3rem hover:bg-green-300 m-2 ml-5 pl-2 border-round">
    <img src="assets/images/svg/search_black_24dp.svg" alt="settings"> &nbsp;
    Activities</div>
  <div class="flex align-items-center h-3rem hover:bg-green-300 m-2 ml-5 pl-2 border-round">
    <img src="assets/images/svg/search_black_24dp.svg" alt="settings"> &nbsp;
    Statistics</div>
  <div class="flex align-items-center h-3rem hover:bg-green-300 m-2 ml-5 pl-2 border-round">
    <img src="assets/images/svg/search_black_24dp.svg" alt="settings"> &nbsp;
    Help</div>
  <div class="flex align-items-center h-3rem hover:bg-green-300 m-2 ml-5 pl-2 border-round">
    <img src="assets/images/svg/search_black_24dp.svg" alt="settings"> &nbsp;
    Settings</div>
</div>
