<div class="grid h-full w-full">
  <div class="lg:col-5 xl:col-4 ml-3 lg:m-2">
    <app-item-detail [item]="item" (onDisplayDialog)="displayAddDialog=true"></app-item-detail>
  </div>
  <div class="col grid ml-3 m-2 overflow-x-auto">
    <div class="col-12 p-0">
      <app-item-history [itemHistory]="itemHistory"></app-item-history>
      <div class="col-12 grid flex justify-content-center pl-0 pr-0">
        <h4 class="h-4rem col-12 flex align-items-end">
          Also got with
        </h4>
        <p-carousel *ngIf="recentItems.length !== 0; else noRecent" [value]="recentItems" [style]="{'width':'60vw'}" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-recentItem pTemplate="item">
            <div class="recentItem-item" (click)="onRecentItemClick(recentItem.node._id)">
              <div class="recentItem-item-content">
                <div class="mb-3">
                  <img src="http://localhost:3000/{{recentItem.node._id}}" [alt]="recentItem.name" class="recentItem-image" />
                </div>
                <div>
                  <h4 class="mb-1">{{recentItem.name}}</h4>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
        <ng-template #noRecent>
          <div class="w-full h-full flex justify-content-center align-items-center">
            No items found
          </div>
        </ng-template>
<!--        <div *ngFor="let recentItem of recentItems" class="col-6 md:col-3 h-15rem cursor-pointer">-->
<!--          <p-card styleClass="h-full shadow-4 border-round">-->
<!--            <div class="grid">-->
<!--              <div class="col-12 flex justify-content-center mt-4">-->
<!--                <img height="100"-->
<!--                     src="http://localhost:3000/{{recentItem.node._id}}"-->
<!--                     width="100">-->
<!--              </div>-->
<!--              <div class="col-12 flex justify-content-center mt-4">-->
<!--                <h6 class="mb-0">{{recentItem.name}}</h6>-->
<!--              </div>-->
<!--            </div>-->
<!--          </p-card>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="displayAddDialog" [draggable]="false" [modal]="true" [position]="'top'"
          [resizable]="false" [showHeader]="false" styleClass="w-full">
  <div *ngIf="displayAddDialog" class="card mt-4">
    <app-add-item (onDialogClose)="closeDialogItem($event)" [item]="item"
                  [parent]="item?.node?._id || ''"></app-add-item>
  </div>
</p-dialog>

<p-confirmPopup></p-confirmPopup>
