<div class="grid h-full w-full">
  <div class="lg:col-5 xl:col-4 ml-3 lg:m-2">
    <app-item-detail [item]="item" (onDisplayDialog)="displayAddDialog=true"></app-item-detail>
  </div>
  <div class="col grid ml-3 m-2 overflow-x-auto">
    <div class="col-12 p-0">
      <app-item-history [itemHistory]="itemHistory"></app-item-history>
      <div class="col-12 grid pl-0 pr-0">
        <h4 class="h-4rem col-12 flex align-items-end">
          Also got with
        </h4>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100"
                     src="https://5.imimg.com/data5/SELLER/Default/2020/9/RO/CL/XV/681044/battery-eliminator-500x500.jpg"
                     width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Battery Eliminator</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100" src="https://m.media-amazon.com/images/I/71OSP3jaDPL._SL1500_.jpg" width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Multimeter</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100" src="https://m.media-amazon.com/images/I/51CfdMbnMaL._SL1000_.jpg" width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Wire cutter</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100" src="http://localhost:3000/61b8a612acdb075194d7290b" width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Soldering Iron</h6>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="displayAddDialog" [draggable]="false" [modal]="true" [position]="'top'"
          [resizable]="false" [showHeader]="false" styleClass="w-full">
  <div *ngIf="displayAddDialog" class="card mt-4">
    <app-add-item (onDialogClose)="closeDialogItem($event)" [item]="item"
                  [parent]="item?.node?._id || ''"></app-add-item>
  </div>
</p-dialog>

<p-confirmPopup></p-confirmPopup>
