:host ::ng-deep {
  .p-card-body {
    padding: 0;
  }

  .p-card-header {
    display: none;
  }

  .p-card-content {
    padding: 0;
  }

  .p-datatable-header {
    padding: 4px;
  }

  .p-tabview-nav {
    justify-content: center;

    li {
      width: 100%;

      a {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.recentItem-item {
  .recentItem-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .recentItem-image {
    height: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}
