<div class="mt-2 mr-2 border-1 border-top-0 rounded-corners border-400">
  <div class="grid flex justify-content-center w-24rem">
    <div class="col-12">
      <div
        class="{{obj?.node?.isItem ? 'bg-blue-200' : 'bg-green-200'}} flex flex-wrap justify-content-between border-round-top">
        <div class="flex align-items-center justify-content-center
      flex-none font-bold border-round m-2" style="visibility: hidden">
          <i class="pi pi-pencil"></i> &nbsp;&nbsp;
          <button class="p-button-rounded" icon="pi pi-info-circle" pButton
                  pTooltip="{{obj?.description}}" type="button"></button>
        </div>
        <div class="flex align-items-center justify-content-center
      flex-grow-1 font-bold border-round" pTooltip="{{obj?.name}}">
          {{obj?.name | slice:0:20}}{{obj?.name.length > 20 ? '...' : ''}}
        </div>
        <div class="flex align-items-center justify-content-center
      flex-none font-bold border-round m-2">
          <i class="pi pi-pencil"></i> &nbsp;&nbsp;
          <button class="p-button-rounded p-button-text" icon="pi pi-info-circle" pButton
                  pTooltip="{{obj?.description}}" type="button"></button>
        </div>
      </div>
    </div>
    <div class="col-12 flex flex-wrap justify-content-center">
      <img [alt]="obj?.name" [src]="'http://localhost:3000/' + obj?.node?._id"
           height="100" width="100"/>
    </div>
    <div *ngIf="obj?.node?.isItem; else category" class="col-12 flex align-items-center justify-content-center
           border-round m-2">
      <p-chip label="Available : {{obj?.quantity}}" styleClass="bg-primary"></p-chip>
    </div>
    <ng-template #category>
      <div class="col-12">
        <div class="flex justify-content-around flex-wrap card-container indigo-container">
          <div class="flex align-items-center justify-content-center
          w-8rem border-round m-2">
            <p-chip label="Category : {{obj?.node?.categoryCount}}" styleClass="bg-primary"></p-chip>
          </div>
          <div class="flex align-items-center justify-content-center
           w-8rem border-round m-2">
            <p-chip label="Items : {{obj?.node?.itemCount}}" styleClass="bg-blue-100"></p-chip>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="col-12">
      <p-divider></p-divider>
    </div>
    <div class="col-12 flex flex-wrap justify-content-center">
      <button (click)="$event.stopPropagation(); onDeleteClick.emit(obj?.node?._id)"
              class="p-button-raised p-button-danger p-button-text" icon="pi pi-trash" pButton
              pRipple
              type="button"></button>
    </div>
  </div>
</div>
