<div class="mt-2 mr-2 border-1 border-top-0 rounded-corners border-400">
  <div class="grid flex justify-content-center w-24rem">
    <div class="col-12">
      <div
        class="{{getHeaderColor(obj?.node?.type)}} flex flex-wrap justify-content-between border-round-top">
        <div class="flex align-items-center justify-content-center
      flex-none font-bold border-round m-2" style="visibility: hidden">
          <button class="pi pi-pencil" icon="pi pi-info-circle" pButton *ngIf="editable"
                  pTooltip="Edit {{obj?.node?.type?.toLowerCase()}}" type="button"></button>
          <button class="p-button-rounded" icon="pi pi-info-circle" pButton
                  pTooltip="{{obj?.description}}" type="button"></button>
        </div>
        <div class="flex align-items-center justify-content-center
      flex-grow-1 font-bold border-round" pTooltip="{{obj?.name}}">
          {{obj?.name | slice:0:20}}{{obj?.name.length > 20 ? '...' : ''}}
        </div>
        <div class="flex align-items-center justify-content-center
      flex-none font-bold border-round m-2">
          <button (click)="$event.stopPropagation(); displayAddDialog = true;" class="p-button-rounded p-button-text"
                  icon="pi pi-pencil"
                  pButton
                  pTooltip="Edit {{obj?.node?.type?.toLowerCase()}}" type="button">
          </button>
          <button (click)="$event.stopPropagation()" class="p-button-rounded p-button-text" icon="pi pi-info-circle"
                  pButton pTooltip="{{obj?.description}}" type="button"></button>
        </div>
      </div>
    </div>
    <div class="col-12 flex flex-wrap justify-content-center">
      <img [alt]="obj?.name" [src]="'http://localhost:3000/' + obj?.node?._id"
           height="100" width="100"/>
    </div>
    <div *ngIf="obj?.node?.type === 'ITEM' || obj?.node?.type === 'PACK'; else category" class="col-12 flex align-items-center justify-content-center
           border-round m-2">
      <p-chip label="Available : {{obj?.quantity}}" styleClass="bg-primary"></p-chip>
    </div>
    <ng-template #category>
      <div class="col-12">
        <div class="flex justify-content-around flex-wrap card-container indigo-container">
          <div class="flex align-items-center justify-content-center
          w-8rem border-round m-2">
            <p-chip label="Category : {{obj?.node?.categoryCount}}" styleClass="bg-primary"></p-chip>
          </div>
          <div class="flex align-items-center justify-content-center
           w-8rem border-round m-2">
            <p-chip label="Items : {{obj?.node?.itemCount}}" styleClass="bg-blue-100"></p-chip>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="col-12">
      <p-divider></p-divider>
    </div>
    <div class="col-12 flex flex-wrap justify-content-center" *ngIf="editable">
      <button (click)="onNodeDelete($event, obj); $event.stopPropagation(); "
              class="p-button-raised p-button-danger p-button-text" icon="pi pi-trash" pButton
              pRipple
              type="button"></button>
    </div>
  </div>
</div>


<p-dialog [(visible)]="displayAddDialog" [draggable]="false" [modal]="true" [position]="'top'"
          [resizable]="false" [showHeader]="false" styleClass="w-full">
  <div *ngIf="displayAddDialog" class="card mt-4">
    <div *ngIf="obj?.node?.type === 'ITEM'; else pack" class="card-header">
      <app-add-item (onDialogClose)="closeDialogItem($event, obj)" [item]="obj"
                    [parent]="obj?.node.parent._id"></app-add-item>
    </div>
    <ng-template #pack>
      <div *ngIf="obj?.node?.type === 'PACK'; else category" class="card-header">
        <app-add-pack (onDialogClose)="closeDialogPack($event, obj)" [pack]="obj"
                      [parent]="obj?.node.parent._id"></app-add-pack>
      </div>
    </ng-template>
    <ng-template #category>
      <div *ngIf="obj?.node?.type === 'CATEGORY'; else facility" class="card-header">
        <app-add-category (onDialogClose)="closeDialogCategory($event, obj)" [category]="obj"
                          [parent]="obj?.node.parent._id"></app-add-category>
      </div>
    </ng-template>
    <ng-template #facility>
      <div class="card-header">
        <app-add-facility (onDialogClose)="closeDialogFacility($event, obj)" [facility]="obj"></app-add-facility>
      </div>
    </ng-template>
  </div>
</p-dialog>

<p-confirmPopup></p-confirmPopup>
