<form (ngSubmit)="saveCategory()" [formGroup]="addCategoryForm">
  <div class="w-full grid">
    <div class="col-12 lg:col-6 p-4">
      <div class="flex flex-column w-full">
        <div class="p-field">
          <label for="item-name">
            <h6 class="mb-1">Category name</h6>
          </label>
          <input
            [class]="addCategoryForm.controls['name'].invalid &&
                      (addCategoryForm.controls['name'].dirty || addCategoryForm.controls['name'].touched)
                      ? 'ng-invalid ng-dirty w-full' : 'w-full'" formControlName="name" id="item-name"
            pInputText type="text">
        </div>
        <div
          *ngIf="addCategoryForm.controls['name'].invalid && (addCategoryForm.controls['name'].dirty || addCategoryForm.controls['name'].touched)">
          <small *ngIf="addCategoryForm.controls['name'].errors?.required" class="p-error">Name is required</small>
        </div>
        <div class="p-field mt-4">
          <label for="item-desc">
            <h6 class="mb-1">Description</h6>
          </label>
          <textarea class="w-full" formControlName="description" id="item-desc" pInputTextarea></textarea>
        </div>
        <div class="w-full mt-4 flex justify-content-evenly flex-column sm:flex-row">
          <button label="Create Category" pButton pRipple type="submit"></button>
          <button (click)="closeDialog()" class="p-button-warning mt-2 sm:mt-0" label="Cancel" pButton pRipple
                  type="button"></button>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 p-4">
      <app-suggest-images (onFileUpload)="file = $event"></app-suggest-images>
    </div>
  </div>

</form>
