<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left" [ngIf]="editable">
    <button (click)="display=true" class="p-button-success mr-2" icon="pi pi-plus" label="New" pButton pRipple></button>
  </ng-template>
</p-toolbar>
<p-table [value]="users">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </ng-template>
  <ng-template let-user pTemplate="body">
    <tr>
      <td>{{user.userId.name}}</td>
      <td>{{user.userId.email}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="display" header="New User">
  <app-create-user (userCreated)="display=false" [nodeId]="nodeId"></app-create-user>
</p-dialog>
