<form (ngSubmit)="saveItem()" [formGroup]="addItemForm">
  <div class="w-full grid">
    <div class="col-12 lg:col-6 p-4">
      <div class="flex flex-column w-full">
        <div class="p-field">
          <label for="item-name">
            <h6 class="mb-1">Item name</h6>
          </label>
          <input
            [class]="addItemForm.controls['name'].invalid &&
                      (addItemForm.controls['name'].dirty || addItemForm.controls['name'].touched)
                      ? 'ng-invalid ng-dirty w-full' : 'w-full'" formControlName="name" id="item-name"
            pInputText type="text">
        </div>
        <div
          *ngIf="addItemForm.controls['name'].invalid && (addItemForm.controls['name'].dirty || addItemForm.controls['name'].touched)">
          <small *ngIf="addItemForm.controls['name'].errors?.required" class="p-error">Name is required</small>
        </div>
        <div class="p-field mt-4">
          <label for="item-desc">
            <h6 class="mb-1">Description</h6>
          </label>
          <textarea class="w-full" formControlName="description" id="item-desc" pInputTextarea></textarea>
        </div>
        <div class="p-field flex flex-column mt-4">
          <label for="item-quantity">
            <h6 class="mb-1">Quantity</h6>
          </label>
          <p-inputNumber [showButtons]="true" formControlName="quantity" id="item-quantity" mode="decimal"
                         styleClass="w-full"></p-inputNumber>
        </div>
        <div
          *ngIf="addItemForm.controls['quantity'].invalid && (addItemForm.controls['quantity'].dirty || addItemForm.controls['quantity'].touched)">
          <small *ngIf="addItemForm.controls['quantity'].errors?.required" class="p-error">Quantity is required</small>
        </div>
        <div class="p-field flex flex-column mt-4">
          <label for="item-price">
            <h6 class="mb-1">Price</h6>
          </label>
          <p-inputNumber
            [class]="addItemForm.controls['price'].invalid &&
                      (addItemForm.controls['price'].dirty || addItemForm.controls['price'].touched)
                      ? 'ng-invalid ng-dirty w-full' : 'w-full'"
            currency="INR" currencyDisplay="code" formControlName="price" id="item-price" inputId="item-price"
            locale="en-IN" mode="currency" styleClass="w-full">
          </p-inputNumber>
        </div>
        <div
          *ngIf="addItemForm.controls['price'].invalid && (addItemForm.controls['price'].dirty || addItemForm.controls['price'].touched)">
          <small *ngIf="addItemForm.controls['price'].errors?.required" class="p-error">Price is required</small>
        </div>
        <div class="w-full mt-4 flex justify-content-evenly flex-column sm:flex-row">
          <button label="Create Item" pButton pRipple type="submit"></button>
          <button (click)="closeDialog()" class="p-button-warning mt-2 sm:mt-0" label="Cancel" pButton pRipple
                  type="button"></button>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6 p-4">
      <app-suggest-images (onFileUpload)="file = $event"
                          [query]="addItemForm.controls['name'].value"></app-suggest-images>
    </div>
  </div>
</form>
