<div class="grid h-full w-full">
  <div class="lg:col-4 xl:col-3">
    <p-card styleClass="h-full ml-4 shadow-4 rounded-corners">
      <div class="grid">
        <div class="col-12 flex justify-content-center mt-4">
          <img src="https://amz.run/51xT" width="200" height="200" class="border-1 border-primary border-circle">
        </div>
        <div class="col-12 flex justify-content-center mt-4">
          <h4 class="mb-0">Soldering Iron</h4>
        </div>
        <div class="col-12 flex justify-content-center pt-0">
          <h6>Created by: Mario</h6>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-chip label="Available : 4" styleClass="bg-primary"></p-chip>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-chip label="Rented : 11" styleClass="bg-yellow-300"></p-chip>
        </div>
        <div class="col-12 flex justify-content-center mt-4">
          Rs. 200
        </div>
        <div class="col-12 flex justify-content-center mt-4 p-6 text-center">
          An electrical tool used for melting solder and applying it to metals that are to be joined.
        </div>
        <div class="col-6 flex justify-content-center">
          <p-button styleClass="border-round p-button-warning">
            <ng-template pTemplate="content">
              <i class="pi pi-pencil"></i>
            </ng-template>
          </p-button>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-button styleClass="border-round p-button-danger">
            <ng-template pTemplate="content">
              <i class="pi pi-trash"></i>
            </ng-template>
          </p-button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col grid ml-3 lg:ml-1 mt-2">
    <div class="col-12 p-0">
      <p-card styleClass="w-full shadow-4 rounded-corners activity-card">
        Content
      </p-card>
      <div class="col-12 grid pl-0 pr-0">
        <div class="h-4rem col-12 flex align-items-end">
          Also got with.
        </div>
        <div class="col-3 h-full shadow-4 rounded-corners">
          <p-card>
            Content
          </p-card>
        </div>
        <div class="col-3">
          <p-card>
            Content
          </p-card>
        </div>
        <div class="col-3">
          <p-card>
            Content
          </p-card>
        </div>
        <div class="col-3">
          <p-card>
            Content
          </p-card>
        </div>
      </div>
    </div>
<!--    <div class="col-12 flex flex-column">-->
<!--      <span class="w-full flex align-items-end mt-2 mb-2">-->
<!--        <h5>Also got with</h5>-->
<!--      </span>-->
<!--      <div class="flex flex-row grid h-full">-->
<!--        <div class="col-3">-->
<!--          <p-card styleClass="h-full w-full shadow-4 rounded-corners">-->

<!--          </p-card>-->
<!--        </div>-->
<!--        <div class="col-3">-->
<!--          <p-card styleClass="h-full w-full shadow-4 rounded-corners">-->

<!--          </p-card>-->
<!--        </div>-->
<!--        <div class="col-3">-->
<!--          <p-card styleClass="h-full w-full shadow-4 rounded-corners">-->

<!--          </p-card>-->
<!--        </div>-->
<!--        <div class="col-3">-->
<!--          <p-card styleClass="h-full w-full shadow-4 rounded-corners">-->

<!--          </p-card>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
