<div class="grid h-full w-full">
  <div class="lg:col-5 xl:col-4 ml-3 lg:m-2">
    <p-card styleClass="p-6 shadow-4 border-round h-full">
      <div class="grid">
        <div class="col-12 flex justify-content-center mt-4">
          <img [alt]="item?.name" [src]="'http://localhost:3000/' + item?.node?._id" class="border-1 border-primary border-circle" height="200"
               width="200">
        </div>
        <div class="col-12 flex justify-content-center mt-4">
          <h4 class="mb-0">{{item?.name}}</h4>
        </div>
        <div class="col-12 flex justify-content-center pt-0">
          <h6>Created by: {{item?.node?.createdBy?.name}}</h6>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-chip label="Total: {{item?.quantity}}" styleClass="bg-primary"></p-chip>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-chip label="Rented : 11" styleClass="bg-yellow-300"></p-chip>
        </div>
        <div class="col-12 flex justify-content-center mt-4">
          <h6>Rs. {{item?.price}}</h6>
        </div>
        <div class="col-12 flex justify-content-center mt-4 p-6 text-center">
          {{item?.description}}
        </div>
        <div class="col-6 flex justify-content-center">
          <p-button styleClass="border-round p-button-warning">
            <ng-template pTemplate="content">
              <i class="pi pi-pencil" (click)="displayAddDialog = true;"></i>
            </ng-template>
          </p-button>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-button styleClass="border-round p-button-danger">
            <ng-template pTemplate="content">
              <i class="pi pi-trash" (click)="deleteItem($event)"></i>
            </ng-template>
          </p-button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col grid ml-3 m-2 overflow-x-auto">
    <div class="col-12 p-0">
      <p-card styleClass="w-full shadow-4 border-round h-30rem">
        <p-table #dt [globalFilterFields]="['user.name','activityType','activityDate']"
                 [scrollable]="true" [value]="inventoryHistory" responsiveLayout="scroll"
                 scrollHeight="25rem">
          <ng-template pTemplate="caption">
            <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input (input)="search(dt, $event)" pInputText placeholder="Search" type="text"/>
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="pt-2 pb-2" pSortableColumn="user.name" style="min-width:200px">
                <div class="flex align-items-center justify-content-between w-full">
                  User
                  <p-sortIcon field="user.name"></p-sortIcon>
                  <p-columnFilter class="ml-auto" display="menu" field="user.name" type="text"></p-columnFilter>
                </div>
              </th>
              <th class="pt-2 pb-2" pSortableColumn="activityType" style="min-width:200px;">
                <div class="flex align-items-center justify-content-between w-full">
                  Activity
                  <p-sortIcon field="activityType"></p-sortIcon>
                  <p-columnFilter class="ml-auto" display="menu" field="activityType" type="text"></p-columnFilter>
                </div>
              </th>
              <th class="pt-2 pb-2" pSortableColumn="quantity" style="min-width:200px;">
                <div class="flex align-items-center justify-content-between w-full">
                  Quantity
                  <p-sortIcon field="quantity"></p-sortIcon>
                  <p-columnFilter class="ml-auto" display="menu" field="quantity" type="numeric"></p-columnFilter>
                </div>
              </th>
              <th class="pt-2 pb-2" pSortableColumn="activityDate" style="min-width:200px;">
                <div class="flex align-items-center justify-content-between w-full">
                  Dates
                  <p-sortIcon field="activityDate"></p-sortIcon>
                  <p-columnFilter class="ml-auto" display="menu" field="activityDate" type="date"></p-columnFilter>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template let-activity pTemplate="body">
            <tr>
              <td style="min-width:200px">
                <span class="p-column-title">Name</span>
                <p-avatar icon="pi pi-user" shape="circle" styleClass="p-mr-2"></p-avatar>
                <span class="image-text ml-2">{{activity.user.name}}</span>
              </td>
              <td style="min-width:200px">
                <span class="p-column-title">Activity</span>
                <p-tag [value]="activity.activityType">
                </p-tag>
              </td>
              <td style="min-width:200px">
                <span class="p-column-title">Quantity</span>
                <span>{{activity.quantity}}</span>
              </td>
              <td style="min-width:200px">
                <span class="p-column-title">Dates</span>
                {{activity.activityDate | date}}
                <br/>
                {{activity?.dueDate}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
      <div class="col-12 grid pl-0 pr-0">
        <h4 class="h-4rem col-12 flex align-items-end">
          Also got with
        </h4>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100" src="https://5.imimg.com/data5/SELLER/Default/2020/9/RO/CL/XV/681044/battery-eliminator-500x500.jpg" width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Battery Eliminator</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100" src="https://m.media-amazon.com/images/I/71OSP3jaDPL._SL1500_.jpg" width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Multimeter</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100" src="https://m.media-amazon.com/images/I/51CfdMbnMaL._SL1000_.jpg" width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Wire cutter</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img height="100" src="http://localhost:3000/61b8a612acdb075194d7290b" width="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Soldering Iron</h6>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="displayAddDialog" [draggable]="false" [modal]="true" [position]="'top'"
          [resizable]="false" [showHeader]="false" styleClass="w-full">
  <div class="card mt-4" *ngIf="displayAddDialog">
    <app-add-item [item]="item" (onDialogClose)="closeDialogItem($event)" [parent]="item?.node?._id || ''"></app-add-item>
  </div>
</p-dialog>
<p-confirmPopup></p-confirmPopup>
