<div class="grid h-full w-full">
  <div class="lg:col-5 xl:col-4 ml-3 lg:m-2">
    <p-card styleClass="p-6 shadow-4 border-round h-full">
      <div class="grid">
        <div class="col-12 flex justify-content-center mt-4">
          <img [src]="'http://localhost:3000/' + item?.node?._id" [alt]="item?.name" width="200" height="200" class="border-1 border-primary border-circle">
        </div>
        <div class="col-12 flex justify-content-center mt-4">
          <h4 class="mb-0">{{item?.name}}</h4>
        </div>
        <div class="col-12 flex justify-content-center pt-0">
          <h6>Created by: {{item?.node?.createdBy?.name}}</h6>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-chip label="Available : 4" styleClass="bg-primary"></p-chip>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-chip label="Rented : 11" styleClass="bg-yellow-300"></p-chip>
        </div>
        <div class="col-12 flex justify-content-center mt-4">
          <h6>Rs. {{item?.price}}</h6>
        </div>
        <div class="col-12 flex justify-content-center mt-4 p-6 text-center">
          {{item?.description}}
        </div>
        <div class="col-6 flex justify-content-center">
          <p-button styleClass="border-round p-button-warning">
            <ng-template pTemplate="content">
              <i class="pi pi-pencil"></i>
            </ng-template>
          </p-button>
        </div>
        <div class="col-6 flex justify-content-center">
          <p-button styleClass="border-round p-button-danger">
            <ng-template pTemplate="content">
              <i class="pi pi-trash"></i>
            </ng-template>
          </p-button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col grid ml-3 m-2 overflow-x-auto">
    <div class="col-12 p-0">
      <p-card styleClass="w-full shadow-4 border-round h-30rem">
        <p-table #dt [value]="inventoryHistory"
                 [scrollable]="true" responsiveLayout="scroll" scrollHeight="25rem"
                 [globalFilterFields]="['user.name','activityType','activityDate']">
          <ng-template pTemplate="caption">
            <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input (input)="search(dt, $event)" pInputText type="text" placeholder="Search" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width:200px" class="pt-2 pb-2" pSortableColumn="user.name">
                <div class="flex align-items-center justify-content-between w-full">
                  User
                  <p-sortIcon field="user.name"></p-sortIcon>
                  <p-columnFilter type="text" field="user.name" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th style="min-width:200px;" class="pt-2 pb-2" pSortableColumn="activityType">
                <div class="flex align-items-center justify-content-between w-full">
                  Activity
                  <p-sortIcon field="activityType"></p-sortIcon>
                  <p-columnFilter type="text" field="activityType" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th style="min-width:200px;" class="pt-2 pb-2" pSortableColumn="quantity">
                <div class="flex align-items-center justify-content-between w-full">
                  Quantity
                  <p-sortIcon field="quantity"></p-sortIcon>
                  <p-columnFilter type="numeric" field="quantity" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
              <th style="min-width:200px;" class="pt-2 pb-2" pSortableColumn="activityDate">
                <div class="flex align-items-center justify-content-between w-full">
                  Dates
                  <p-sortIcon field="activityDate"></p-sortIcon>
                  <p-columnFilter type="date" field="activityDate" display="menu" class="ml-auto"></p-columnFilter>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-activity>
            <tr>
              <td style="min-width:200px">
                <span class="p-column-title">Name</span>
                <p-avatar shape="circle" icon="pi pi-user" styleClass="p-mr-2"></p-avatar>
                <span class="image-text ml-2">{{activity.user.name}}</span>
              </td>
              <td style="min-width:200px">
                <span class="p-column-title">Activity</span>
                <p-tag [value]="activity.activityType">
                </p-tag>
              </td>
              <td style="min-width:200px">
                <span class="p-column-title">Quantity</span>
                <span>{{activity.quantity}}</span>
              </td>
              <td style="min-width:200px">
                <span class="p-column-title">Dates</span>
                {{activity.activityDate | date}}
                <br />
                {{activity?.dueDate}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
      <div class="col-12 grid pl-0 pr-0">
        <h4 class="h-4rem col-12 flex align-items-end">
          Also got with
        </h4>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img src="https://amz.run/51xT" width="100" height="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Soldering Iron</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img src="https://amz.run/51xT" width="100" height="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Soldering Iron</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img src="https://amz.run/51xT" width="100" height="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Soldering Iron</h6>
              </div>
            </div>
          </p-card>
        </div>
        <div class="col-6 md:col-3 h-15rem">
          <p-card styleClass="h-full shadow-4 border-round">
            <div class="grid">
              <div class="col-12 flex justify-content-center mt-4">
                <img src="https://amz.run/51xT" width="100" height="100">
              </div>
              <div class="col-12 flex justify-content-center mt-4">
                <h6 class="mb-0">Soldering Iron</h6>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>
